* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;

  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: white;
  padding: 50px;
}

header {
  background-color: #ff8c42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

header > h1 {
  color: white;
  font-size: 75px;
  font-weight: 100;
  justify-items: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2em;
  /* grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr; */
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 400px;

  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: 0.15s ease-out;
}

.card:hover {
  transform: scale(1.02);
}

.enlarge {
  width: 600px;
}

.card-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.card .card-title {
  text-align: center;
  color: #ff8c42;
  font-weight: bold;
  text-transform: uppercase;
  overflow-wrap: break-word;
  font-size: 30px;

  border-top: 5px solid #ff8c42;
  border-bottom: 5px solid #ff8c42;
  padding: 0 20px 0 20px;
}

.card-desc {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;

  padding: 20px;
}

.card-desc span {
  text-align: center;
  font-size: 22px;
}

footer {
  background-color: #ff8c42;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

footer > p {
  font-size: 16px;
  font-weight: 100;
  color: white;
}

footer > h1 {
  font-size: 40px;
  font-weight: 100;
  color: white;
}

@media only screen and (min-width: 600px) {
}
