<h1 class="recipe-title">{%NAME%}</h1>
<img src="/img/{%IMAGE%}" alt="Recipe Image" class="recipe-img" />
<div class="recipe-group">
  <span>Category: {%CATEGORY%}</span>
  <span>Diffuclty: {%DIFFICULTY%}</span>
  <span>Cost: {%COST%}</span>
</div>
<p class="recipe-desc">{%DESCRIPTION%}</p>
<div class="recipe-prep">
  <h2>Preparations</h2>
  <ul class="prep-ingredients">
    <h3>-Ingredients-</h3>
    {%INGREDIENTS%}
  </ul>
  <ul class="prep-cookwares">
    <h3>-Cookwares-</h3>
    {%COOKWARES%}
  </ul>
</div>
<div class="recipe-steps">
  <h2>Steps</h2>
  <ol class="steps">
    {%STEPS%}
  </ol>
</div>
